deps/*
objs/*
objs_dis/*
asmouts/*
preprocs/*
deps_debug/*
objs_debug/*
objs_dis_debug/*
asmouts_debug/*
preprocs_debug/*
*.elf
copyright_text_thing.txt
*.gdb_history*
*.sw[pox]
*/tags
*/types_*.taghl
*.txt.ignore
*.json
*.json.ignore
*.json.bak
*.json.7z
*.html
small_code_testing_things/*
NeoSaveyBot_debug
NeoSaveyBot
